.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
/* .box3{
    background-color: red;
}
@media (max-width: 800px) {
    .box3 {
        display: none;
    }
} */